// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.

// Skips pusing constant 5 and pushes constant 50.

goto LOOP
push constant 5
label LOOP
	push constant 50
