// This file is part of www.nand2tetris.org
// and the book "The Elements of Computing Systems"
// by Nisan and Schocken, MIT Press.

// Pushes constants and checks equality.

push constant 3
push constant 2
gt
push constant 2
push constant 3
gt
push constant 7
push constant 6
gt